extends pretty
- var comics_js = JSON.stringify(comics)

block content
	form(ng-init="comics=#{comics_js}")
	h1.bannertext= Dashboard
	
	img(src=avatar)
	
	p Description: #{description}
	p Name: #{name}
	p Email: #{email}
	p Location: #{location}
	p Time Zone: #{timezone}
	p Subscription: #{subscription}

	if(isartist == true && comics_length != 0)
		p Created Comics
	if(isartist == false && comics_length != 0)
		p My Comics
	ul
		each comic, i in comics
			li
				a(href="/accounts/" + comic.creator + "/comics/" + comic.uri)= comic.title
	if(typeof(notifications) !== 'undefined' && notifications_length != 0)
		p Notifications
		ul
			each notification, i in notifications
				li
					= notification.timestamp+ ": " + notification.event.id + " (" + notification.msg + ")"

	a(href="/editdashboard") Edit Information
	
