extends comic

block content_comic
	h1.bannertext Edit #{comic_name}
	if (adminable)
		p
			a(href="/accounts/"+comic_creator+"/comics/"+comic_uri+"/admin") Admin options
	p
		a(href="/accounts/"+comic_creator+"/comics/"+comic_uri+"/pages/#{pageid}") View page
	p
		form(method='post', enctype='multipart/form-data', action= '/accounts/' + comic_creator + '/comics/' + comic_uri+"/panels")
			input(type='file', name='image' id='image_upload')
			<input type="hidden" name="page" value="#{pageid}">
			input(type='submit')
	p
		a(href="" ng-click="toggleOverlays()") {{getToggleOverlayText()}}
	center
		//= render comic using angular (slightly different from published view to allow live edits)
		div(class="comicpage" id="comicpage" style="width:1000px;")
			span(id="page-area" contenteditable="true" style="position:relative;")
				//- panels
				span(data-ng-repeat="i in utilrange(0,draft.panels.length)")
					img(ng-src="/accounts/"+comic_creator+"/comics/"+comic_uri+"/panels/{{draft.panels[i]}}" ng-mouseover="mouseover(i)" ng-mouseleave="mouseleave(i,'panel',$event)" ng-mousemove="mousemove(i,'panel',$event)" id="panel{{i}}")
				//- overlays
				span(data-ng-repeat="i in utilrange(0,draft.overlays.length)" style="position: absolute;top:0;left:0;")
					img(ng-src="/accounts/"+comic_creator+"/comics/"+comic_uri+"/panels/{{draft.overlays[i].panelID}}" style="{{'position:absolute;left:'+(getOverlayPos(i).x)+'px;top:' + (getOverlayPos(i).y) + 'px;opacity:'+getOverlayOpacity()+';'}}" ng-mouseover="mouseover_lay(i)" ng-mouseleave="mouseleave(i,'overlay',$event)" ng-mousemove="mousemove(i,'overlay',$event)" ng-click="toggleGrabOverlay($event)" id="overlay{{i}}")
					
					
	p(ng-show="response.length>0")
		font(color="red") {{response}}
	p(ng-show="draft.edited")
		a(href="" ng-click="publishPage('#{comic_creator}','#{comic_uri}',#{pageid})") Publish page
		|  | 
		a(href="" ng-click="revertPage()") Revert page
	p
		a(href="" ng-click="postPage('#{comic_creator}','#{comic_uri}')") New Page
	if pageid==maxpageid && pageid>1
		p
			a(href="" ng-click="confirmdelete=true;" ng-hide="confirmdelete") Delete this page
			a(href="" ng-click="deletePage('#{comic_creator}','#{comic_uri}',#{pageid})" ng-show="confirmdelete") Confirm!

	//- dynamic elements --- mouseover for panel
	div(style="position:fixed;left:0px;top:0px;")
		svg(width=20000 height=30000 ng-show="mouseover_panel>-1" ng-mouseleave="mouseleave(-1,'',$event)" ng-mouseover="mouseleave(-1,'',$event)" ng-mousemove="mousemove(-1,'',$event)")
			rect(width="{{boxgetattr().width}}" height="{{boxgetattr().height}}" style="stroke-width:3;stroke:black;fill:blue;fill-opacity:0.1;" x="{{boxgetattr().left}}" y="{{boxgetattr().top}}")
	div(style="position:fixed;left:{{boxgetattr().left}}px;top:{{boxgetattr().top}}px;" ng-show="mouseover_panel>-1")
		img(src="/images/icon_back.png" ng-click="movepanel(mouseover_panel,mouseover_panel-1);")
		| &nbsp
		img(src="/images/icon_forward.png" ng-click="movepanel(mouseover_panel,mouseover_panel+1);")
		| &nbsp
		img(src="/images/icon_delete.png" ng-click="deletepanel(mouseover_panel);")
		| &nbsp
		img(src="/images/icon_pop.png" ng-click="poppanel(mouseover_panel);")

	//- dynamic elements --- mouseover for overlay
	div(style="position:fixed;left:0px;top:0px;")
		svg(width=20000 height=30000 ng-show="mouseover_overlay>-1" ng-mouseleave="mouseleave(-1,'',$event)" ng-mouseover="mouseleave(-1,'',$event)" ng-mousemove="mousemove(-1,'',$event)" ng-click="toggleGrabOverlay($event)")
			rect(width="{{boxgetattr().width}}" height="{{boxgetattr().height}}" style="{{getOverlayColourStyle()}}" x="{{boxgetattr().left}}" y="{{boxgetattr().top}}")
	div(style="position:fixed;left:{{boxgetattr().left}}px;top:{{boxgetattr().top}}px;" ng-show="mouseover_overlay>-1")
		img(src="/images/icon_delete.png" ng-click="deleteoverlay(mouseover_overlay);")

block content_comment
	div(class="commentcontainer")
		form
			p COMMENT:
			p
				textarea(id="commenttextarea" ng-model="comment_input" placeholder="Enter comment here... (Maximum 150 characters)" ng-maxlength="150" rows=10 cols=100)
				button(ng-click = "submit_editcomment('#{comic_creator}', '#{comic_uri}', '#{pageid}')" ng-show='comment_input.length>0') Submit 
			p
				font(color="red") {{response3}}
			each comment, i in editcomments
				if comment.adminlevel == 2
					p(class="comment; purplelevel") 
						|#{comment.username}: 
						|#{comment.description}  <br />
						p(class="timestamp")|#{comment.postDate}	
				else if comment.adminlevel == 1
					p(class="comment; bluelevel")
						|#{comment.username}: 
						|#{comment.description}  <br />
						p(class="timestamp")|#{comment.postDate}	
				else
					p(class="comment; pleblevel")
						|#{comment.username}: 
						|#{comment.description}  <br />
						p(class="timestamp")|#{comment.postDate}
