extends pretty
- var comics_js = JSON.stringify(comics)

block content
	form(ng-init="comics=#{comics_js}")
	h1.bannertext= Profile 
	p #{username} 
	p
		img(src='/accounts/#{username}/avatar' width=96 border=2)
	
	p Description: #{description}
	p Name: #{name}
	p Email: #{email}
	p Location: #{location}
	if (shouldShowSubscription == true) 
		p Subscriptions: #{subscriptions}
