extends pretty
- var comics_js = JSON.stringify(comics)

block content
	div(id="bg")
		img(src="/images/background.png" alt="")
	form(ng-init="comics=#{comics_js}")
		div(class="container bs-docs-container posrel")
				p(class="form-subtitle") #{username}'s Profile
				div(class="row")
					//- PROFILE BOX
					div(class="col-md-12")
						//- form(ng-init="comics=#{comics_js}")
						div(class="twPc-div")
							a(class="twPc-bg twPc-block")
							div
							a(title="#{username}" href="/profile/#{username}" class="twPc-avatarLink")
								img(alt="#{username}" src="/accounts/#{username}/avatar" class="twPc-avatarImg")
							div(class="twPc-divUser")
								div(class="twPc-divName")
									a(href="/profile/#{username}") #{username}
								span
									p Description: #{description} 
								span
									p(style="padding-left:10px;line-height:150%;") Name: #{name} <br />
										| Email: #{email} <br />
										| Location: #{location} <br />
										| Link:
										a(href='#{link}') #{link}
					//- END OF PROFILE BOX
				//- COMIC BOX TABS
				div(class="row")
					div(class="col-md-12" style="padding:15px;")
						div(id="custom_carousel" class="carousel slide dashboardcomicbox")
							div(class="controls")
								ul(class="nav nav-tabs" role="tablist" style="padding-top:10px")
									if(comics_length != 0)
										li(role="presentation" class="active" data-target="#custom_carousel" data-slide-to="0")
											a(href="#" aria-controls="comics" role="tab" data-toggle="tab" style="background-color:rgba(255, 255, 255, 0.5)")
												small Comics
									if(isartist == false)
										li(role="presentation" data-target="#custom_carousel" data-slide-to="1")
											a(href="#" aria-controls="subscriptions" role="tab" data-toggle="tab" style="background-color:rgba(255, 255, 255, 0.5)")
												small Subscriptions
									//- li(data-target="#custom_carousel" data-slide-to="2")
									//- 	a(href="#")
									//- 		img(src="http://placehold.it/50x50")
									//- 		small Slide Three
									//- li(data-target="#custom_carousel" data-slide-to="3")
									//- 	a(href="#")
									//- 		img(src="http://placehold.it/50x50")
									//- 		small Slide Four
							<br />
							div(class="carousel-inner")
							if(comics_length != 0)
								div(class="item")
									div(class="container-fluid")
										b Comics
										div(class="col-md-3")
											div(style="height:250px;")
												img(class="img-responsive" id="test1" src="http://placehold.it/350x250")
										div(class="col-md-9")
											<br/>
											if(isartist == true && comics_length != 0)
												p Created Comics
											if(isartist == false && comics_length != 0)
												p My Comics
											ul
												each comic, i in comics
													li
														if (comic.panel_preview != undefined)
															a(href="/accounts/" + comic.creator + "/comics/" + comic.uri onmouseover="document.getElementById('test1').src='/accounts/#{comic.creator}/comics/#{comic.uri}/panels/#{comic.panel_preview}'")= comic.title
														else if (comic.panel_preview === undefined)
															a(href="/accounts/" + comic.creator + "/comics/" + comic.uri onmouseover="document.getElementById('test1').src='http://placehold.it/350x250'")= comic.title
							//- 			if(isartist == true && comics_length != 0)
							//- 				p Created Comics
							//- 			if(isartist == false && comics_length != 0)
							//- 				p My Comics
							//- 			ul
							//- 				each comic, i in comics
							//- 					li
							//- 						a(href="/accounts/" + comic.creator + "/comics/" + comic.uri)= comic.title
							if(isartist == false)
								div(class="item")
									div(class="container-fluid")
										div(class="col-md-3")
											img(src="http://placehold.it/350x250" class="img-responsive")
										div(class="col-md-9")
											if(shouldShowSubscription = true) 
											b #{username}'s Subscriptions
											p #{subscriptions}
								//- div(class="item")
								//- 	div(class="container-fluid")
								//- 		div(class="col-md-3")
								//- 			img(src="http://placehold.it/350x250" class="img-responsive")
								//- 		div(class="col-md-9")
								//- 			h2 Slide 3
								//- 			p hello this is the third slide, hopefully it's working
								//- div(class="item")
								//- 	div(class="container-fluid")
								//- 		div(class="col-md-3")
								//- 			img(src="http://placehold.it/350x250" class="img-responsive")
								//- 		div(class="col-md-9")
								//- 			h2 Slide 4
								//- 			p hello this is the fourth slide, hopefully it's working
