extends comic

block content_comic
	h1.bannertext=comic_name
	if (description)
		p
			i= description
	if (pagename)
		h2.bannertext= pagename
	if (editable)
		p
			a(href="/accounts/" + comic_creator + "/comics/" + comic_uri + "/pages/" + pageid + "/edit" ) Edit page
	center
		div(class="comicpage" style="width:1000px")
			span(id="page-area" contenteditable="true")
				each pic, i in panels 
					img(src= "/accounts/"+comic_creator+"/comics/"+comic_uri+"/panels/"+pic, alt="panel "+i)
	p
		a.share(ng-href="#share" ng-click="shlink='#{share_link}'")
			img(src="/images/icon_share.png" alt="share")
			| share
		span(ng-show="shlink.length>0")
			input(readonly="readonly" ng-model="shlink" ng-init="")
	button(ng-click = "subscribe_comic('#{comic_uri}')" ng-show = "!isartist") Subscribe
	p Collaborators:
		each user, i in editlist
			li
				p #{user}
block content_comment
	div(class="commentcontainer")
		form
			p COMMENT:
			p
				textarea(id="commenttextarea" ng-model="comment_input" placeholder="Enter comment here... (Maximum 150 characters)" ng-maxlength="150" rows=10 cols=100)
				button(ng-click = "submit_comment('#{comic_creator}', '#{comic_uri}', '#{pageid}')" ng-show='comment_input.length>0') Submit 
			p
				font(color="red") {{response3}}
			each comment, i in comments
				if comment.adminlevel == 2
					p(class="comment; purplelevel") 
						|#{comment.username}: 
						|#{comment.description}  <br />
						p(class="timestamp")|#{comment.postDate}	
				else if comment.adminlevel == 1
					p(class="comment; bluelevel")
						|#{comment.username}: 
						|#{comment.description}  <br />
						p(class="timestamp")|#{comment.postDate}	
				else
					p(class="comment; pleblevel")
						|#{comment.username}: 
						|#{comment.description}  <br />
						p(class="timestamp")|#{comment.postDate}				