extends comic

block content_comic
	meta(property='og:url', content='#{share_link}')
	meta(property='og:type', content='website')
	meta(property='og:title', content='DropComix')
	meta(property='og:description', content='Your description')
	h1.bannertext=comic_name
	if (description)
		p
			i= description
	if (pagename)
		h2.bannertext= pagename
	if (editable)
		p
			a(href="/accounts/" + comic_creator + "/comics/" + comic_uri + "/pages/" + pageid + "/edit" ) Edit page
	if (panels.length>0)
		center
			div(class="comicpage" style="width:1000px;position:relative;")
				span(id="page-area")
					each pic, i in panels
						span
							img(src="/accounts/"+comic_creator+"/comics/"+comic_uri+"/panels/"+pic style="position:relative;" alt="panel "+i)
					each pic, i in overlays
						span(style="position: absolute;top:0;left:0;")
							img(src="/accounts/"+comic_creator+"/comics/"+comic_uri+"/panels/"+pic.panelID style="position:absolute;left:"+(pic.x+500)+"px;top:" + pic.y + "px;")
	//- hidden preloading bit
	div(align="right")
		span(id="page-area-preload")
				each pic, i in next_panels 
					img(src= "/accounts/"+comic_creator+"/comics/"+comic_uri+"/panels/"+pic, alt="panel "+i, hidden)
	p
		a.share(ng-href="#share" ng-click="shlink='#{share_link}'")
			img(src="/images/icon_share.png" alt="share")
			span(ng-hide="shlink.length>0")
				| share
		span(ng-show="shlink.length>0")
			input(readonly="readonly" ng-model="shlink" ng-init="" cols=200)
			| &nbsp;
			a(href="https://www.facebook.com/sharer/sharer.php?u="+"#{share_link}" target="_blank" ) Share on Facebook
			|  | 
			a(class="twitter-share-button"  href="https://twitter.com/intent/tweet?text=#{share_link}") Tweet
	button(ng-click = "subscribe_comic('#{comic_uri}')" ng-show = "!isartist") Subscribe
	p Collaborators:
		each user, i in editlist
			li
				p #{user}
block content_comment
	div(class="commentcontainer")
		div(class="col-md-8 col-md-offset-2")
			h2 Comment on the page
			hr
			div(class="row")
				div(class="col-md-2")
					img(alt="#{username}" src="/accounts/#{username}/avatar" class="twPc-avatarImg center-block")
				div(class="col-md-10")
					p
						textarea(class="noresize form-control" id="commenttextarea" type="text" ng-model="comment_input" placeholder="Enter comment here... (Maximum 150 characters)" ng-maxlength="150")
						div(class="text-right")
							button(class="btn btn-default" ng-click = "submit_comment('#{comic_creator}', '#{comic_uri}', '#{pageid}')" ng-show='comment_input.length>0') Submit 
					p
						font(color="red") {{response3}}
			hr
			each comment, i in comments
				div(class="row")
					div(class="col-md-2")
						div(style="padding-top:20px;padding-bottom:20px")
							img(alt="#{comment.username}" src="/accounts/#{comment.username}/avatar" class="twPc-avatarImg center-block")
					div(class="col-md-10")
						div(style="padding-top:30px")
							if comment.adminlevel == 2
								header
									span
										a(class="purplelevel" href="/profile/#{comment.username}") #{comment.username}   
									span
										span(class="nicegrey") &nbsp;&nbsp;-&nbsp;&nbsp;    
										span(class="timestamp") #{comment.postDate}
								p
									|#{comment.description}  <br />
							else if comment.adminlevel == 1
								header
									span
										a(class="bluelevel" href="/profile/#{comment.username}") #{comment.username}   
									span
										span(class="nicegrey") &nbsp;&nbsp;-&nbsp;&nbsp;    
										span(class="timestamp") #{comment.postDate}
								p
									|#{comment.description}  <br />	
							else
								header
									span
										a(class="pleblevel" href="/profile/#{comment.username}") #{comment.username}   
									span
										span(class="nicegrey") &nbsp;&nbsp;-&nbsp;&nbsp;    
										span(class="timestamp") #{comment.postDate}
								p
									|#{comment.description}  <br />
